.App {
  font-family: sans-serif;
  text-align: center;
}

.clock {
  font-family: "Arial black";
  font-size: 40px;
  color: rgb(120, 197, 174);
  background-color: rgb(22, 37, 30);
  padding: 30px;
  width: 70%;
  margin: 0 auto;
  border-radius: 40px;
  box-shadow: -5px 8px 6px -7px rgba(17, 11, 11, 0.69);
}
